{% extends 'base.html' %}
{% load static %}

{% block contenido %}
	<br>
	<br>
	<br>
	<br>
	<h1>Estas en INICIO con login</h1>

	<!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/registar.css' %}">

	<p><h3>Instrucciones:</h3></p>
 	 <p><b>  El siguiente juego consta de preguntas de distintas categorias,
 	 queremos saber cuanto conoces del CHACO.</p></b>
 	 <p><b>  Recorda mirar como te fue al final.</p></b>
 	 

 	 <br><br><br>
	<div class="col-12 col-md-9 offset-md-5"> <a href="{% url 'categorias' %}"><button type="button" class="btn btn-danger">Iniciar Juego</button></a></div>

	


{% endblock contenido %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>

</body>
</html>