{% include "generico.html" %}
{% block content %}
#contenedor de inisio de sesion
      <div class="container  " style="">
      <div style=" display: flex;align-items: center;justify-content: center; min-height: 100vh;">
        <div class="row align-items-center">
          <div class="col">
          <div class="" style="background-color:white;width:350px"> #pequeño fondo blanco cuadrado
            <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'login' %}">Login</a>
            <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'registrar' %}">Registrarse</a>
          </div>
{% endblock %} 