{% include "generico.html" %}
{% block content %}
<!--contenedor de inisio de sesion-->

		<style type="text/css">
.borde {
	border: 2px outset black	
}

</style>


      <div class="container  " style="">

      <div style=" display: flex;align-items: center;justify-content: center; min-height: 100vh;">
        <div class="row align-items-center">
          <div class="col">
          	<div class="borde">
          <div class="" style="background-color:0000ffff;width:400px"> <!--pequeño fondo blanco cuadrado-->
            <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'login' %}" ><strong>Login</strong></a>
            <a class="flex-sm-fill text-sm-center nav-link" href="{% url 'registrar' %}"><strong>Registrarse</strong></a>

            </div>
          </div>
{% endblock %} 