{% extends 'base.html' %}
{% load static %}

{% block contenido %}
	<br>
	<br>
	<br>
	<br>
	<h1>Estas en INICIO con login</h1>

	

	<p><h3>Instrucciones:</h3></p>
 	 <p><b>  El siguiente juego consta de preguntas de distintas categorias,
 	 queremos saber cuanto conoces del CHACO.</p></b>
 	 <p><b>  Recorda mirar como te fue al final.</p></b>
 	 

 	 <br><br><br>
	<div class="col-12 col-md-9 offset-md-5"> <a href="{% url 'categorias' %}"><button type="button" class="btn btn-danger">Iniciar Juego</button></a></div>

	


{% endblock contenido %}
<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
</head>
<body>

</body>
</html>