{% extends 'base.html' %}
{% load static %}

{% block contenido %}

{% if pregunta is None %}
<div class="container">
	<div class='jumbotron my-4'>
		<h1>Ya haz respondido a todas las preguntas. Mira el ranking</h1>
		<a href="{% url 'ranking' %}">Ranking</a>
		
	</div>
</div>


{% else %}
<div class="container">
	<div class="jumbotron my-4">
		<h3>
			{{pregunta.la_pregunta}}
		</h3>
		
		<form method="POST" class="form">
			{% csrf_token %}
			<input type="hidden" name="pregunta_pk" value="{{pregunta.pk}}">

			{% for opciones in pregunta.opciones.all %}
			<br>
				<br>
				<input class="form-ckeck-input" type="radio" name="respuesta_pk" value="{{opciones.pk}}" id='choice-{{forloop.counter}}'>
				<label class="form-ckeck-label" for='choice-{{forloop.counter}}'>
					{{opciones.texto}}
				</label>

			{% endfor %}
			<br><br><br>
			<div class="class=col-md-10"><button type="submit" class="btn btn-success">
				Enviar
			</button></div>

		</form>
			
			

	</div>
	
</div>

{% endif %}

	
	
{% endblock contenido %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<link rel="stylesheet" href="{% static 'css/iniciojuego.css' %}">
	<title>Roket</title>
</head>
<body>
	<h1>Estas en INICIO JUEGO</h1>
</body>
</html>