{% extends 'base.html' %}
{% load static %}

{% block contenido %}

<!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/registar.css' %}">

	<h1 class="text-center my-4">BIENVENIDO AL RANKING</h1>

	<!--{% for i in ranking %}
        <ul>
        
            <li>{{i.puntaje_total}}--{{ i.perfil_usuario.username }}</li>
        
        </ul>
    {% endfor %}-->



<div class="container">
	

	<table class="table table-striped table-bodered">
		<thead>
			<tr>
				<th>Posicion</th>
				<th>Usuario</th>
				<th>Puntaje</th>
			</tr>
		</thead>
		<tbody>
			{% for i in ranking %}
				<tr>
					<th>{{forloop.counter}}</th>
					<th>{{i.perfil_usuario.username}}</th>
					<th>{{i.puntaje_total}}</th>
				</tr>
			{% endfor %}
		</tbody>
	</table>

</div>






{% endblock contenido %}