{% extends 'base.html' %}
{% load static %}


{% block content %}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <!-- Letra chacu -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Finger+Paint&family=Indie+Flower&family=Knewave&family=Rampart+One&family=Varela+Round&display=swap" rel="stylesheet">

     <!-- Letra inicio -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo+Narrow&family=Finger+Paint&family=Indie+Flower&family=Knewave&family=Rampart+One&family=Varela+Round&display=swap" rel="stylesheet">
    <!-- Letra categorias -->

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">

    <!-- ruta css -->
    <link rel="stylesheet" href="{% static 'css/categorias.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">


    <br>
<div class="d-grid gap-2">
    <div class="row align-items-center" >
        <div class="table-responsive ">
            <div class="col-md-20" >
    





    {% for i in categorias %}
        
        
       
        <div class="row align-items-center">
            

                

                <button type="button" class="btn btn-outline-light" ><a type="" href="{% url 'iniciojuego' i.id %}" style="text-decoration: none;">{{ i.nombre }}</a></button>
                
           

            
            
        </div>  
            
            
            
        
        
        
        
       
      
    {% endfor %}
            </div>
        </div>
    </div>
</div>
<div class="text-center my-4">
    <button type="button" class="btn btn-outline-light"><a href="{% url 'ranking' %}">Mira como quedaste en el ranking</a></button>
</div>
<br><br><br>
{% endblock content %}
</head>
<body>

</body>
</html>
