{% extends 'base.html' %}
{% load static %}


{% block content %}

<!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/registar.css' %}">

	{% for i in categorias %}
        <ul>
        
            <li><a type="button" href="{% url 'iniciojuego' i.id %}">{{ i.nombre }}</a></li>
        
        </ul>
    {% endfor %}

    <a href="{% url 'ranking' %}">Mira como quedaste en el ranking</a>


{% endblock content %}