{% extends 'base.html' %}
{% load static %}


{% block content %}
<br>
<div class="d-grid gap-2">
	<div class="row align-items-center" >
		<div class="table-responsive ">
			<div class="col-md-20" >
	

	{% for i in categorias %}
        
 		
		<div class="row align-items-center">
        
        	
            <button type="button" class="btn btn-outline-light" ><li><a type="" href="{% url 'iniciojuego' i.id %}">{{ i.nombre }}</a></li></button>
        
        
        
    	</div>
       
      
    {% endfor %}
    		</div>
    	</div>
    </div>
</div>
<div class="text-center my-4">
    <button type="button" class="btn btn-outline-light"><a href="{% url 'ranking' %}">Mira como quedaste en el ranking</a></button>
</div>

{% endblock content %}