body {
   background-image: url('https://i.imgur.com/zM4qsRe.jpg');
   background-repeat: no-repeat;


}


.botonCategoria{
   text-decoration: none;
   padding: 40px;
   font-family: arial;
   padding-left: 10px;
   padding-right: 10px;
   font-weight: 800;
   font-size: 25px;
   color: black;
   background-color:white ;
   

}

.btn-outline-light{
   background-color: white;
}

